{% extends 'base.html' %}

{% block content %}
<style>
    .table td {
        text-align: center;
        white-space: nowrap;
     }

     .table th {
        text-align: center;
        white-space: nowrap;
     }
</style>

<script>
      $(document).ready(function(){
          $("#copy_address").click(function(){
            if (confirm('Are you sure you want to save this thing into the database?')) {
              // Save it!
                if (confirm('dddddddddddd')) {
                  // Save it!
                } else {
                  // Do nothing!
                }
            } else {
              // Do nothing!
            }

          });
      });

      $(document).on('click', '.confirm-delete', function(){
          if (confirm('คุณต้องการลบข้อมูลนี้จริงหรือไม่? หากลบแล้วจะไม่สามารถกู้คืนกลับมาได้อีก')) {
            // Save it!
              if (confirm('แน่ใจจริงๆแล้วใช่ไหม?')) {
                // Save it!
                return true
              } else {
                // Do nothing!
              }
          } else {
            // Do nothing!

          }
          return false
          // return confirm('Are you sure you want to delete this?');
      })


</script>



    <h2>รายชื่อบุคลากร</h2>

    <table class="table table-striped " id="cssTable">
        <thead class="thead-dark ">
            <tr>
                <th ></th>
                <th align="center" valign="middle" >ชื่อผู้ใช้</th>
                <th >ชื่อ</th>
                <th>ข้อมูล<br>ส่วนตัว</th>
                <th>ข้อมูล<br>ที่อยู่</th>
                <th>ข้อมูล<br>การทำงาน</th>
                <th>ข้อมูล<br>เครื่องราช<br>อิสริยาภรณ์</th>
                <th>ข้อมูล<br>การศึกษา</th>
                <th>เปลี่ยน<br>password</th>
                <th>เปลี่ยน<br>uesrname</th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>


                {% for nameStr,user in teacher_obj_list %}
                    <tr>
                        <td text-align=center>{{forloop.counter }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{nameStr}}</td>
                        <td><a href="{% url 'data:personal_info' user.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a href="{% url 'data:address' user.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a href="{% url 'data:work_info' user.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a href="{% url 'data:insignia' user.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a href="{% url 'data:education' user.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a href="{% url 'data:reset_password' user.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a href="{% url 'data:change_username' user.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a class="confirm-delete" href="{% url 'data:delete_teacher' user.id %}"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                {% endfor %}

        </tbody>
    </table>


{% endblock %}
