{% extends 'base.html' %}

{% block content %}
<h2>เปลี่ยน Password</h2>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <table class="table table-striped table-dark  ">
      <tr>
          <td></td>
          <td><b>รหัสผ่าน<u>เก่า</u></b></td>
          <td>
              {{ form.old_password }} 
              <br><b class="error">{{ form.old_password.errors }}</b>
          </td>
      </tr>

      <tr>
          <td></td>
          <td><b>รหัสผ่าน<u>ใหม่</u></td>
          <td>
              {{ form.new_password1 }} 
              <li>ห้ามมีความคล้ายกับชื่อผู้ใช้ของคุณ</li>
              <li>ต้องมีความยาวขั้นต่ำ 8 ตัว</li>
              <li>ไม่สามารถใช้รหัสผ่านทั่วไปที่สามารถเดาได้ง่าย(เช่น password)</li>
              <li>ม่สามารถมีแต่ตัวเลขอย่างเดียวได้</li>
              <br><b class="error">{{ form.new_password1.errors }}</b>

          </td>
      </tr>

      <tr>
        <td></td>
        <td><b>ยืนยันรหัสผ่าน<u>ใหม่</u></td>
        <td>
              {{ form.new_password2 }} 
              <br>กรุณากรอกรหัสผ่านให้เหมือนกันกับด้านบน เพื่อป้องกันการกรอกผิดพลาด
              <br><b class="error">{{ form.new_password2.errors }}</b>
        </td>

      </tr>

    </table>


    <br>
    <button type="submit" class="btn btn-success">เปลี่ยน</button>
</form>

{% endblock %}